<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Create new post</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">{{post}}</label>
                            <input type="text" v-model="post.id" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{

            getPost(){
                console.log('asd');
                axios.get('/api/v1/user/'+app.id+'/posts/' + app.pid)
                    .then(function (resp) {
                        console.log(resp.data);
                        app.post = resp.data;
                    })
                    .catch(function () {
                        alert("Could not load your post")
                    });
            }
        },
        updated() {
            var app = this;
            app.id = app.$route.params.id;
            app.pid = app.$route.params.pid;
            this.getPost();
        },
        mounted() {
            var app = this;
            app.id = app.$route.params.id;
            app.pid = app.$route.params.pid;
            this.getPost();
        },

        data: function () {
            return {
                postId: null,
                post: {}
            }
        },

//        methods: {
//            saveForm() {
//                event.preventDefault();
//                var app = this;
//                var newPost= app.post;
//                axios.patch('/api/v1/posts/' + app.postId, newPost)
//                    .then(function (resp) {
//                        app.$router.replace('/');
//                    })
//                    .catch(function (resp) {
//                        console.log(resp);
//                        alert("Could not create your post");
//                    });
//            }
//        }
    }
</script>


<!--<template>-->

<!--</template>-->
<!--<script>-->
    <!--export default {-->
        <!--methods : {-->

            <!--getPost(){-->
                <!--axios.get('/api/v1/user/'+app.id+'/posts/' + app.pid)-->
                    <!--.then(function (resp) {-->
                        <!--console.log(resp.data);-->
                        <!--app.post = resp.data;-->
                    <!--})-->
                    <!--.catch(function () {-->
                        <!--alert("Could not load your post")-->
                    <!--});-->
            <!--}-->
        <!--},-->
        <!--mounted() {-->
            <!--console.log('asd');-->
            <!--let app = this;-->
            <!--app.id = app.$route.params.id;-->
            <!--app.pid = app.$route.params.pid;-->
            <!--this.getPost();-->
        <!--},-->
        <!--beforeRouteUpdate() {-->
            <!--app.id = app.$route.params.id;-->
            <!--app.pid = app.$route.params.pid;-->
            <!--this.getPost();-->
        <!--}-->
    <!--}-->
<!--</script>-->