
<template>
    <div class="row" style="display: flex; width: 100%;">
        <transition name="slide-fade">
                <div  v-bind:style="styleObject" style="min-width: 34%; overflow: auto; padding-right: 10px;">
                <ul style="list-style-type: none; padding-left: 0px;">
                    <li v-for="post, index in posts">
                        <div class="panel panel-default">
                            <router-link v-on:click.native="scroll(index+skip)" :to="{ name: 'showPost', params: { pid: post.fb_postid }}" >
                                <div class="panel-heading">
                                    <h4 style="margin: 0 0 0 0;">{{ post.data | checkvar('caption', 'message', 'type') }}</h4>
                                    <h6 style="margin: 0 0 0 0;">{{ post.data | checkvar('name') }} <span v-if="post.data.name && post.data.target" class="glyphicon glyphicon-chevron-right" style="font-size: 9px; top: 0px; color: dimgray;"></span>
                                        <span>&nbsp{{ post.data | checkvar('target').name }} </span></h6>
                                        <p> <span class="under-caption">{{ post.data.created_time | parseDate}}</span></p>
                                </div>
                            </router-link>
                            <div class="panel-body">{{post.data.message}}</div>
                        </div>
                    </li>
                </ul>
                    <button v-on:click="loadMore" class="btn btn-default">Load more..</button>
                </div>
            </transition>
        <div><router-view :gpost="index"></router-view></div>
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                posts: [],
                id: '',
                styleObject: {
                    width: '100%',
                },
                show : true,
                index: -1,
                skip: 0,
                take: 5,
            }
        },
        mounted() {
            var app = this;
            app.skip = -5;
            app.id = app.$route.params.id;
            this.loadMore();
        },
        beforeRouteUpdate(to, from, next) {
            if(!to.params.pid) {
                this.styleObject = {width: '100%',};
                this.show = false;
            }
          next();
        },
        methods: {
            scroll(ind) {
                this.index = ind;
                var app = this;
                app.styleObject = {
                    width: '34%',
                }
            },

            loadMore: function() {
                this.skip = this.skip + 5;

                var app = this;
                app.id = app.$route.params.id;
                axios.get('/api/v1/user/'+app.id+'/posts?skip='+app.skip+'&take='+app.take)
                    .then(function (resp) {
                        console.log(resp.data.length);
                        resp.data.length < 5 ? app.skip = -5 : '' ;
                        app.posts = resp.data.map(function(el) {
                            el.data = JSON.parse(el.data);
                            return el;
                        });
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not load posts2");
                    });
            },
        },
        filters: {

            checkvar: function(value,arg1, arg2, arg3){
                return (value != undefined) ? ((arg1 in value) ? value[arg1] : ((arg2 in value) ? value[arg2] : ((arg3 in value) ? value[arg3] : ''))) : '';
            },


            parseDate: function(value) {
                var d = new Date(value);
                return d.toLocaleDateString() + ' '+ d.toLocaleTimeString();
            },
        }
    }
</script>

<style scoped>
    div {
        font-family: sans-serif;
    }

    .under-caption {
        font-size: 12px;
        color: dimgray;
    }

    h4,.panel-body {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
